.products
	width 100%
	font-size 0
	align-justify()

	&__product
		display inline-block
		background-color lighten($white, 4)
		text-align: center
		padding 10px
		width 205px
		min-height 255px
		cursor pointer

	&__text
		font-size 14px
		display block
		padding 5px
		line-height 20px
		text-align left
		text-align-last left


