.products
	width 100%
	font-size 0
	column-width 200px
	column-gap 15px
	columns 3 200px

	&__photo
		max-width 100%
		min-height: 80px;
		background-image url(http://www.prostor-fish.ru/assets/templates/site/img/no-photo.jpg)
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		border: 0;

	&__wrapper
		display block
		width 100%
		padding 20px 0

	&__product
		display inline-block
		vertical-align: top
		margin 15px 0
		background-color #fff
		text-align center
		padding 10px 10px 20px 10px
		width 200px
		min-height 255px
		cursor pointer
		box-shadow 1px 1px 1px rgba($menuActive, 0.26)
		text-decoration none
		transition background .4s ease-in-out

		&:hover
			box-shadow 1px 1px 6px rgba($menuActive, 0.26)

	&__product:hover &__btn
		//background-position 0
		//color $white
		//border 1px solid $green
		background darken($green, 25%)
		box-shadow 0


	&__text
		font-size 14px
		display block
		padding 5px
		line-height 20px
		text-align left
		text-align-last left
		color #000

	&__text-inside
		display inline-block

	&__btn
		//border 1px solid $blue
		padding 6px 12px
		background-color $green
		font-size 16px
		//background-image linear-gradient(30deg, $green 50%, transparent 50%)
		background-position 100%
		background-size 400%
		transition all .4s ease-in-out
		text-decoration none
		margin-top 7px
		display inline-block
		font-family $HelveticaBold
		color white
		border-radius 3px
		box-shadow 0 2px 0 darken($green, 25%)
