mixin products()
	+b.products
		- n = 0;

		while n < 10

			- n++

			+e.product
				+e('a').wrapper(href='https://placeimg.com/500/400/animals?random='+n, data-lightbox='products' data-title='Коннектор стена-стекло, 520 р/шт.')
					+e('img').photo(src='https://placeimg.com/154/111/animals?random='+n)
				+e('span').text
					+e('span').text-inside_name Коннектор стена-стекло
					+e('span').text-inside_price 520 р/шт.
					+e('span').text-inside_size 10

				+e('a').btn(href='#') Купить

