mixin products()
	+b.products
		- n = 0;

		while n < 6
			- v = n++
			- n++
			+e.product
				+e('a').wrapper(href='https://placeimg.com/500/400/animals?random='+v, data-lightbox='products' data-title='Коннектор стена-стекло, 520 р/шт.')
					+e('img').photo(src='https://placeimg.com/185/185/animals?random='+v, height=185, width=185)
				+e('span').text Коннектор стена-стекло, 520 р/шт.

				+e('button').btn Купить
