include ../search/search
include ../by/by
include ../panel/panel
include ../sidebar-banner-menu/sidebar-banner-menu
include ../our-production/our-production

mixin sidebar()
  +b.sidebar

    +e.item
      +our-production(getData('our-production.json'))

