include ../search/search
include ../by/by
include ../panel/panel
include ../sidebar-banner-menu/sidebar-banner-menu
include ../our-production/our-production

mixin sidebar()
  +b.sidebar
    +e.search
      +search
      
    +e.by
      +by
      
    +e.item
      +panel
      
    +e.item
      +sidebar-banner-menu(getData('sidebar-banner-menu'))
      
    +e.item
      +our-production(getData('our-production.json'))
    
