mixin table()
	+b('table').table
		+e('caption').caption Это заголовок_number таблицы
		+e('tr').tr
			+e('th').th Наименование
			+e('th').th Цвет
			+e('th').th Толщ. (мм)
			+e('th').th Размер листа (мм)
			+e('th').th Страна Производитель
			+e('th').th Цена с резкой (1 м.кв.)
		+e('tr').tr
			+e('td').td Прозрачное
			+e('td').td Бесцветное
			+e('td').td_number 4
			+e('td').td 2600х1800
			+e('td').td Россия
			+e('td').td_number 240

		+e('tr').tr
			+e('td').td Прозрачное
			+e('td').td Бесцветное
			+e('td').td_number 4
			+e('td').td 2600х1800
			+e('td').td Россия
			+e('td').td_number 240

		+e('tr').tr
			+e('td').td Прозрачное
			+e('td').td Бесцветное
			+e('td').td_number 4
			+e('td').td 2600х1800
			+e('td').td Россия
			+e('td').td_number 240

		+e('tr').tr
			+e('td').td Прозрачное
			+e('td').td Бесцветное
			+e('td').td_number 4
			+e('td').td 2600х1800
			+e('td').td Россия
			+e('td').td_number 240
		+e('tr').tr
			+e('td').td Прозрачное
			+e('td').td Бесцветное
			+e('td').td_number 4
			+e('td').td 2600х1800
			+e('td').td Россия
			+e('td').td_number 240


		+e('tr').tr
			+e('td').td Прозрачное
			+e('td').td Бесцветное
			+e('td').td_number 4
			+e('td').td 2600х1800
			+e('td').td Россия
			+e('td').td_number 240
		+e('tr').tr
			+e('td').td Прозрачное
			+e('td').td Бесцветное
			+e('td').td_number 4
			+e('td').td 2600х1800
			+e('td').td Россия
			+e('td').td_number 240



