.table
	width 100%
	border-radius 2px
	color $white

	&__th
		background-color rgba($blue, .9)
		color $white
		padding 10px 5px
		font-size 14px
		border-top 1px solid $menuBorderColor
		border-bottom 1px solid $menuBorderColor
		border-left 1px solid rgba($menuBorderColor, .08)
		text-align left
		font-family $HelveticaBold

	&__td
		border-top 1px solid $menuBorderColor
		border-bottom 1px solid $menuBorderColor
		border-left 1px solid rgba($menuBorderColor, .08)
		padding 10px 5px
		text-align left
		font-size 12px
		background-color rgba($blue, .08)
		color #000


		&_number
			text-align center


	&__tr
		background-color rgba($blue, .09)

		&:nth-of-type(even)
			background-color rgba($blue, .5)

