.breadcrumbs

	&__item
		position relative
		display inline-block
		margin-right: 6px
		text-decoration: none
		color $blue
		vertical-align middle
		transition-duration .2s
		font-family $HelveticaItalic

		&:after
			content ' >'
			display: inline-block
			font-size 122%
			padding-left 4px

		&:hover
			text-shadow 1px 1px 1px invert($blue)
			text-decoration: underline

		&_current
			color #000

			&:after
				display none

			&:hover
				text-shadow 0 0 0 transparent
