include ../menu/menu
include ../logo/logo
include ../contacts/contacts
include ../slideshow/slideshow
include ../main-content/main-content
include ../center-block/center-block
include ../time/time
include ../btn/btn
include ../main-center/main-center
include ../sidebar/sidebar
include ../main-footer/main-footer
include ../footer/footer

mixin index()
	- menu = getData('menu').menu
	- slideshow = getData('slideshow').slideshow

	+b.page(id='top')
		+e.logo-and-contacts
			+e.logo
				+logo
			+e.contacts
				+contacts

		+e.menu
			+menu(menu)

		+e.banner
			img(src='https://i.vimeocdn.com/channel/398054_980?mh=250' width='100%' height='250px')

		+e.content-wrapper

			+e.sidebar
				+sidebar-banner-menu(getData('our-production.json'))


			+e.main
				+e.main-top
					+e.main-content
						+main-content



	//+footer
