include ../menu/menu
include ../logo/logo
include ../contacts/contacts
include ../slideshow/slideshow
include ../main-content/main-content
include ../center-block/center-block
include ../time/time
include ../btn/btn
include ../main-center/main-center
include ../sidebar/sidebar
include ../main-footer/main-footer
include ../footer/footer

mixin index()
	- menu = getData('menu').menu
	- slideshow = getData('slideshow').slideshow

	+b.page(id='top')
		+e.menu
			+menu(menu)
		+e.logo-and-contacts
			+e.logo
				+logo
			+e.contacts
				+contacts
		+e.slideshow
			+slideshow(slideshow)

		+e.content-wrapper
			+e.main
				+e.main-top
					+e.main-content
						+main-content
					+e.main-center
							+main-center
				+e.main-footer
					+main-footer
						
			+e.sidebar
				+sidebar
				
	+footer
