mixin main-photos()
	+b.main-photos
		+e('a').item(href='https://placeimg.com/800/600/animals?random=1' data-lightbox="roadtrip")
			+e('img').image(width=100 height=56 src='https://placeimg.com/504/283/animals?random=1')
		+e('a').item(href='https://placeimg.com/800/600/animals?random=1' data-lightbox="roadtrip")
			+e('img').image(width=100 height=56 src='https://placeimg.com/504/283/animals?random=3')
		+e('a').item(href='https://placeimg.com/800/600/animals?random=1' data-lightbox="roadtrip")
			+e('img').image(width=100 height=56 src='https://placeimg.com/504/283/animals?random=4')
		+e('a').item(href='https://placeimg.com/800/600/animals?random=1' data-lightbox="roadtrip")
			+e('img').image(width=100 height=56 src='https://placeimg.com/504/283/animals?random=5')
