mixin main-photos()
	+b.main-photos
		a(href='https://placeimg.com/504/283/animals?random=1')
			+e('img').image(width=100 height=56 src='https://placeimg.com/504/283/animals?random=1')
		a(href='https://placeimg.com/504/283/animals?random=1')
			+e('img').image(width=100 height=56 src='https://placeimg.com/504/283/animals?random=3')
		a(href='https://placeimg.com/504/283/animals?random=1')
			+e('img').image(width=100 height=56 src='https://placeimg.com/504/283/animals?random=4')
		a(href='https://placeimg.com/504/283/animals?random=1')
			+e('img').image(width=100 height=56 src='https://placeimg.com/504/283/animals?random=5')