.time
  display table
  padding-left 60px
  sprite $clock
  background-repeat no-repeat
  width 100%
  height auto
  min-height 50px

  &__wrapper
    display table-cell
    vertical-align middle

  &__text
    font-size 120%
    color #333  
