.btn
	width 100%
	max-width 400px
	height 46px
	margin-bottom 3px
	border-radius 2px
	background-color $menuActive
	box-sizing border-box
	border 0
	transition-duration .8s

	&:hover
		background-color darken($menuActive, 5)

	&__text
		font-style italic
		text-decoration none
		text-transform uppercase
		color $white
		font-size 15px
		line-height 45px
		letter-spacing 1.8px

	&_style_green
		background-color $green

		&:hover
			background-color darken($green, 5)
