.btn
	display inline-block
	text-decoration none
	height 46px
	margin-bottom 3px
	border-radius 2px
	background-color $menuActive
	box-sizing border-box
	border 0
	transition-duration .8s
	padding 0 30px

	&:hover
		background-color darken($menuActive, 5)

	&__text
		text-transform uppercase
		font-size 20px
		line-height 45px
		letter-spacing 1.8px
		color darken(grayscale($green), 40)

	&_style_green
		background-color $green

		&:hover
			background-color darken($green, 5)
