.btn
	width 100%
	height 46px
	border-radius 5px
	border-top 2px solid  #00c9f3
	border-bottom 2px solid #0065B9
	border-left 0
	border-right 0
	background-image linear-gradient(to bottom, #00aaec 0%,#0073d1 100%) /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00aaec+0,0073d1+100 */
	box-sizing border-box
	box-shadow 0 3px 3px rgba(0, 63, 172, 0.46)

	&:hover
		background linear-gradient(to bottom, #00abec 0%,#008ede 100%) /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00abec+0,008ede+100 */

	&__text
		font-style italic
		text-decoration none
		text-transform uppercase
		color #fff
		font-size 15px
		line-height 45px
		letter-spacing 1.8px