.main-footer
  padding-x 20px
  display table
  width 100%
  color #333

  &__item
    display table-cell
    vertical-align top
    width 33.333%

  &__content
    display inline-block
    width 188px
    text-align left

  &__item:nth-child(2)
    text-align center

  &__item:last-child
    text-align right
