body
	font-family $HelveticaLight
	color #000
	font-size 14px
	line-height 1.5
	background-color #fff


.text
	font-size 100%
	margin 10px 0
	color #333

.link
	display inline
	color $blue
	cursor pointer
	text-decoration none

	&_date
		font-size 10px

	&:hover
		color #333


strong
.strong
.bold
	font-family $HelveticaBold

.hr
	border-top 1px solid #ccc
	height 1px

.warning
	color $red

.wrapper
	width 980px
	margin auto
