// Clear the float on any element.
clearfix()
	&:after
		display table
		clear both
		content ''

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
	background-image linear-gradient(transparent, transparent)

// Set element size
size($width, $height = $width)
	width $width
	height $height

// Set margin on left & right
margin-x($margin)
	margin-left $margin
	margin-right $margin

// Set margin on top & bottom
margin-y($margin)
	margin-top $margin
	margin-bottom $margin

// Set pading on left & right
padding-x($padding)
	padding-left $padding
	padding-right $padding

// Set padding on top & bottom
padding-y($padding)
	padding-top $padding
	padding-bottom $padding

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}

align-justify()
	text-justify newspaper
	text-align justify
	-moz-text-align-last justify
	text-align-last justify
	font-size 1px
	line-height 0

	&:after
		width 100%
		height 0px
		visibility hidden
		overflow hidden
		content ''
		display inline-block

valign-center()
	&:after
		content " "
		display inline-block
		height 100%
		width 1%
		vertical-align: middle

clear-both()
	&:before
	&:after
		content: ''
		display: table

	&:after
		clear: both

center()
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)
