$menuBorderColor = #ccc
$blue = rgb(1, 83, 131)
//$blue = #0384CE
$menuActive = lightness($blue, 40%)
$lightBlue = lighten($blue, 72)
//$green = #87CC1F
$green = hue($menuActive, 120deg)
$red = #FF0000
$gray = #F8F8F8
$grayBorder = #ddd
$white = #F0F1F3
$yellow = #dd5
