.page
	width 980px
	margin auto

	&__logo-and-contacts
		padding 30px 0 20px
		border-bottom 1px dotted #d5d5d5

	&__contacts
	&__logo
		vertical-align middle
		display inline-block

	&__logo
		width 20%

	&__contacts
		margin-left 50%


	&__slideshow
		padding 20px 0

	&__main
		width 70%

	&__main-content
		width 67%
		display table-cell
		border-left 1px solid #ddd
		border-top 1px solid #ddd
		border-bottom 1px solid #ddd

	&__main-left
		width 33%
		display table-cell
		border 1px solid #ddd

