$menuHeight = 48px

.menu
	position relative
	z-index 100
	width 100%
	background $blue
	box-sizing border-box
	padding $menuHeight - 30px 15px
	border-radius 3px
	border-bottom-right-radius 0
	border-bottom-left-radius 0

	&__item
		font-size 0
		display inline-block
		vertical-align top
		position relative
		margin 0 5px
		padding 0 5px
		cursor pointer
		box-sizing border-box
		text-transform uppercase
		height 30px
		line-height 30px
		transition-duration .5s
		border 2px solid transparent


		&_active
		&:hover
			background-color $menuActive

		&:hover &-descr
		&:hover &-name
		&_active &-descr
		&_active &-name
			color $white

		&_empty

			&:before
				display none

	&__link
		display block
		text-decoration none
		font-size 13px
		color $white
		font-family $HelveticaLight
