$menuHeight = 48px

.menu
	position relative
	z-index 100
	width 100%
	background $blue
	box-sizing border-box
	padding $menuHeight - 30px 0

	&__item
		font-size 0
		display inline-block
		vertical-align top
		position relative
		margin 0 5px
		padding 0 8px
		cursor pointer
		box-sizing border-box
		text-transform uppercase
		height 30px
		line-height 30px
		border-radius 3px
		transition-duration .5s


		&_active
		&:hover
			background-color $menuActive




		&-name
			font-size 13px
			color $white
			font-weight bold

		&:hover &-descr
		&:hover &-name
		&_active &-descr
		&_active &-name
			color $white

		&_empty

			&:before
				display none

	&__link
		display block
		text-decoration none

	&__submenu
		display none
		width 200px
		padding 10px
		position absolute
		top 35px
		left 0
		border 1px solid #ddd
		background-color $white

		&-item
			display block
			border-bottom 1px dotted #ddd
			color #666
			padding 5px 20px 5px 0
			font-size 12px
			cursor pointer

			&:hover
				color $blue

			&:last-child
				border none

	&__item:hover &__submenu
		display block

	&__item:hover:before
		transform rotate(180deg)
