mixin menu(data)

	+b('nav').menu
		each content in data
			- emptyClass = 'menu__item_empty'
			- activeClass = content.type === 'active'?'menu__item_active':''

			+e.item(class=emptyClass + ' ' + activeClass)
				+e('a').link(href=jv0)=content.name[0]



mixin submenu(data)
	+e.submenu
		each content in data
			+e('a').submenu-item=content
