.main-content
	padding 0 20px 20px

	&__hr
		margin-y 10px

	&__title
		margin 10px 0 13px 0
		font-family $HelveticaBold
		font-size 150%
		line-height 1.2

	&__icon
		display inline-block
		margin-left 4px

		&_download
			sprite $download

	&__important-info
		background-color lighten(invert($blue), 12)
		border 1px dashed #ccc
		font: 1em/1.5 Monaco,Consolas,"Courier News",monospace
		padding: 10px 15px
		margin-y 10px

	&__embeded-image
		float left
		margin-x 15px
		margin-y 15px

	&__center
		text-align center

	&__btn
		text-align center

	&__breadcrumbs
		margin 10px 0

	&__products
		margin-y 10px

