include ../list/list
include ../main-photos/main-photos
include ../btn/btn
include ../breadcrumbs/breadcrumbs
include ../products/products

mixin main-content()
	+b.main-content

		+e.breadcrumbs

			+breadcrumbs

		+e.title О компании

		+e.center
			| |
			= ' '
			+e('a').link.link.bold(href='#') DECOR Glass
			= ' '
			| |
			= ' '
			+e('a').link.link.bold(href='#') ECO Glass Серия Metal
			= ' '
			| |
			= ' '
			+e('a').link.link.bold(href='#') MARBLE Glass
			= ' '
			| |

		+e.text.text
			| <strong> Стекольная компания "Стекло и Стеклоизделия"</strong> была основана в 1998 году как представительство в Московском регионе ОАО "Саратовский институт стекла" - единственного в России производителя окрашенного в массе светотеплозащитного и архитектурно-строительного стекла "Ритм", "Метелица", "Блюз".
			+e('img').embeded-image(src='https://placeimg.com/200/100/animals?random=1')
			| На сегодняшний день <strong> Стекольная компания "Стекло и Стеклоизделия"</strong> занимает лидирующие позиции в области переработки стекла, а так же оптовой и розничной продажи стекла от 2 до 19мм различного типа: бесцветное, тонированное, окрашенное в массе, осветленное стекло оптивайт, сатинат, мателюкс, мателак, лакобель, GlassPan, триплекс.
			br
			br
			| На сегодняшний день <strong> Стекольная компания "Стекло и Стеклоизделия"</strong> занимает лидирующие позиции в области переработки стекла, а так же оптовой и розничной продажи стекла от 2 до 19мм различного типа: бесцветное, тонированное, окрашенное в массе, осветленное стекло оптивайт, сатинат, мателюкс, мателак, лакобель, GlassPan, триплекс.

		+e.title Продукты:

		+e.products
			+products


		+e.text.text Скачать прайс-лист
			+e('a').icon_download.download(href='#')

		+e.text.text
			strong
				span.warning Внимание!
			= ' '
			strong Срочное изготовление стеклопакетов!
			+e('a').link.link(href='#') Подробнее...

			| &nbsp;Наличие на предприятии профессионального оборудования для работы со стеклом, в сочетании с многолетним опытом нашего персонала, позволяют гарантировать высокое качество производимых стеклоизделий, соблюдая все технические нормы и стандарты


		+list([
			'Сверление отверстий в стекле и зеркалах;',
			'Уф-склейка стекла, приклеивание точечных элементов на стекло;',
			'Наклейка пленки на стекло, наклейка пленки на зеркало;',
			'Доставка стекла и зеркал.'
		])

		+e.text.text
			+e.btn
				+btn({
					text: 'оставить заявку и узнать стоимость'
				})

		+e.text.text
			+e.btn
				+btn({
					text: 'оставить заявку и узнать стоимость',
					style: 'green'
				})

		+e.hr.hr

		+e.images
			+main-photos

		+e.text.text
			strong Юридический адрес:
			| 125367,  г. Москва, пр-д Полесский, д. 16, стр. 1
		+e.text.text
			strong Тел/Факс
			| (495) 988-0162, 660-8837
		+e.text.text
			strong E-mail:
			= ' '
			+e('a').link.link(href='mailto:zazerkalye_31@mail.ru') zazerkalye_31@mail.ru

		+e.important-info
			+e.link.link Схема проезда в офис Компании "Стекло и стеклоизделия"
