mixin footer()
	+b.footer&attributes(attributes)
		.wrapper
			+e.breadcrumbs
				+e('a').breadcrumbs-item.link(href='#') ПРОДУКЦИЯ
				+e('a').breadcrumbs-item.link(href='#') ДЕКОРАТИВНЫЕ ПАНЕЛИ ГЛАССПАН
				+e('span').breadcrumbs-item СЕРИЯ DECOR GLASS
				
				+e.up.link Вверх
		
