.footer
	margin-top 20px
	background-color #f6f6f6
	border-top 1px solid #ccc

	&__copy
		padding-bottom 10px
		font-size 11px
		color #666

	&__menu
		font-size 0
		padding-y 10px

	&__menu-item
		display inline-block
		padding-x 10px
		color #666
		font-weight bold
		line-height 13px
		text-decoration none
		font-size 11px
		line-height 11px
		border-right 1px solid #999

		&:hover
			color $blue

		&:first-child
			padding-left 0

		&:last-child
			border-right 0



	&__up
		display inline
		font-size 11px
		line-height 12px
		position absolute
		right 0
		top 0
		bottom 0
		margin auto
		padding-left 20px
		height 12px

		&:hover
			background $blue
			color #fff

		&:before
			sprite $arrow
			position absolute
			content ''
			left 0
			top 0
			bottom 0
			margin auto
			transform rotate(180deg)

	&__breadcrumbs
		position relative
		padding-y 5px
		text-transform uppercase
		border-bottom 1px solid #ccc

		&-item
			position relative
			padding-x 2px
			padding-right 20px
			font-size 11px
			line-height 12px

		&-item:not(:last-of-type)

			&:hover
				background $blue
				color #fff

			&:after
				sprite $arrow
				position absolute
				content ''
				right 0
				top 0
				bottom 0
				margin auto
				transform rotate(-90deg)

	&__copyright
		display flex
		justify-content center
		align-items center
		padding 20px

	&__link
		margin-x 4px
		display block
		text-decoration none
		color #333
		transition-duration .25s
		transition-property color

		&:hover
			color #e74c3c

	&__logo
		display block
		height 14px
		width 58px
