mixin footer()
	+b.footer&attributes(attributes)
		.wrapper
			+e.breadcrumbs
				+e('a').breadcrumbs-item.link(href='#') ПРОДУКЦИЯ
				+e('a').breadcrumbs-item.link(href='#') ДЕКОРАТИВНЫЕ ПАНЕЛИ ГЛАССПАН
				+e('span').breadcrumbs-item СЕРИЯ DECOR GLASS

				+e.up.link(href='#top') Вверх

			+e.menu
				+e('a').menu-item(href='#') Контакты
				+e('a').menu-item(href='#') Закалка стекла
				+e('a').menu-item(href='#') Триплекс
				+e('a').menu-item(href='#') Стеклопакеты
				+e('a').menu-item(href='#') Гравировка
				+e('a').menu-item(href='#') Справка
				+e('a').menu-item(href='#') Каленое стекло
				+e('a').menu-item(href='#') Контакты

			+e.copy © 1998 - 2016 Компания «Стекло и стеклоизделия». Все права защищены.


