.main-center

  &__letter-boss
    border-bottom 1px solid #ddd
    padding-x 15px
    padding-y 10px
    text-align center

    &-image
    &-text
      vertical-align middle
      display inline-block

    &-image
      sprite $letter
      size 20px
      background-size contain
      margin-right 4px

    &-text
      font-size 12px
      text-decoration none
