mixin center-block(data)
  - headerText = data.title
  - indent = data.contentIndent || false
  - type = data.type
  
  +b.center-block(class=type?'center-block_type_'+type:'')
    +e.header
      +e.header-text= headerText
      
    +e.content(class=indent?'center-block__content_indent_'+indent:'')
        block
      
    
