.center-block
  border-bottom 1px solid #ddd

  &_type_news
    position relative
    overflow hidden

    &:before
      content ''
      display block
      position absolute
      width 80px
      height 18px
      line-height 18px
      right 0
      top 0
      transform rotate(45deg) translate(23px, -8px)
      background $red
      content 'новости'
      text-transform uppercase
      color #fff
      font-size 9px
      font-weight bold
      text-align center
      z-index 2


  &:last-child
    border-bottom 0

  &__header
    position relative
    height 31px
    background-color $gray
    padding 0 20px

    &:after
      content ''
      display block
      width 100%
      height 1px
      position absolute
      bottom 0
      left -1px
      background #ddd


    &-text
      display inline-block
      height 31px
      position relative
      z-index 2
      padding 12px 25px 4px 0
      border-bottom 1px solid $blue
      color $blue
      letter-spacing 1px
      font-weight bold
      text-transform uppercase
      box-sizing border-box

  &__content
    padding-x 15px
    padding-y 10px

    &_indent_10
      padding-x 10px

    &_indent_0
      padding-x 0


  &__item
    margin-bottom 20px

  &__news-item
    padding-x 20px
    padding-y 5px 20px
    border-bottom 1px solid #ddd

    &:last-child
      border-bottom 0

  &__news-title
    color #353535
    text-decoration none
    margin-bottom 0

    &:hover
      color $blue

  &__news-text
    margin-y 4px

  &__holding
    text-align center
    border-bottom 1px solid #ddd
    padding-bottom 10px
    padding-x 10px

    &:last-child
      border-bottom 0


    &-item
      display block
      text-decoration none
      margin-y 10px

      &.link
        text-align left
