mixin sidebar-banner-menu(data)
  +b.sidebar-banner-menu
    +e.content
      each content, i in data
        - label = content[1]?content[1]:false
        +e('a').item(href='#')
          +e.img-wrapper(data-label=label)
            +e.img(src='http://placezombie.com/240x80?random='+i)
          if content[0]
            +e.text!=content[0]
            
  
