mixin sidebar-banner-menu(data)
  +b.sidebar-banner-menu_new
    +e.content
      each content, i in data
        - label = content[1]?content[1]:false
        +e('a').item(href='#')
          +e.img-wrapper(data-label=label)
            +e.img(src='https://unsplash.it/300/100/?random='+i)
          if content[0]
            +e.text Стекло узорчатое (химическим травлением)


